body{
  background-image: url("mountain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: springgreen
}
table{
  border-collapse:collapse ;
  border: 0;
  width: 80%;
  text-align:center;
}
div{
  color: Black;
  border: 8px groove black;
  font-size: 15px;
}
h1{
  color: Black;

}
p{
  color: Black;
}
h2{
  color: Black;
}
img{
  border: 2px hidden  ;

}

a:hover{
  color: red;
}
*{
	    font-family: "Sans-serif",sans-serif;
      
}
span.change {    font-weight: bold;
color: yellow;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
